extends layout
block content
  table
    thead
      tr
        th
        each v, k in data[0]
          th #{k}
    tbody
      each item in data
        tr
          td
          each value in item
            td !{value}