body { font-family: helvetica neue, arial, sans-serif; font-size: 82%; line-height: 1.5em; color: #151515}
table { width: 100%; border-collapse: collapse; margin: 0; padding: 0; margin-bottom: 10px; display: table; border-color: grey; border-spacing: 0}
tbody { display: table-row-group; vertical-align: middle; border-color: inherit; }
tr { display: table-row; vertical-align: inherit; border-color: inherit; }
th { background-color: #ABB1C4; margin: 0; padding: 2px 6px; color: #FFF; text-align: left; font-weight: bold}
td, th { display: table-cell; vertical-align: inherit; }
td { margin: 0; text-align: left; border-bottom: #ccc 1px solid; padding: 0.3em 6px 0.3em 2px; vertical-align: top;}
h2 { margin: 10px 0; padding: 3px 18px 3px 0; font-weight: normal; font-size: 18px; letter-spacing: 0; color: #151515; }
h3 { font-size: 100%; }
ul { margin: 0; padding: 0; }
.properties { width: 80%; margin-top: 1em; }
.properties > div { border-bottom: 1px solid #D6D6D6; }
.properties table { margin-bottom: 2em; }
.properties td { border: none; padding: 2px; border-right: none; border-top: #ccc 1px solid; text-align: left;}
.info { background-color: #F2FFEE; border: #A5DDAD solid 3px; }
.info table { padding: .35em 0; margin-top: 10px;}
.info .label { width: 10%; padding: 3px 0 3px 20px;}
.info td { border: 0; }

/*... no need ..... */

.failureStatusBlock {
  background-color: #FFF6FF;
  border: #FDA8A8 solid 3px;
}

.runningBuildStatus {
  background-color: #e7f0f9;
  border: 3px solid #B6D1ED;
}

.progressInnerSuccessful {
  background-color: green;
}

.progressInnerFailed {
  background-color: green;
}

.progress, .progressInner.chain {
  max-width: 15.5em;
  margin: 0;
  padding: 0;
  height: 1.5em;
  line-height: 1.5em;
}

.progressInner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: #eee;
}

.progress, .progressInner {
  max-width: 15.5em;
  margin: 0;
  padding: 0;
}

.progress {
  background-color: #e5e5e5;
  position: relative;
  height: 1.3em;
  line-height: 1.3em;
  text-align: left;
}

.odd  { background-color: #eeeeee; }
.even { background-color: #ffffff; }